<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="braze.com.brazepluginexample">
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="braze_plugin_example">
    <activity
      android:name=".MainActivity"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
      android:hardwareAccelerated="true"
      android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
    </activity>
    <activity
      android:name="com.appboy.ui.AppboyWebViewActivity"
      android:theme="@android:style/Theme" />
    <activity
      android:name=".EmbeddingV1Activity"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale"
      android:hardwareAccelerated="true"
      android:theme="@style/LaunchTheme"
      android:windowSoftInputMode="adjustResize" />
    <service
      android:name="com.appboy.AppboyFirebaseMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
  </application>
</manifest>
